header {
    text-align: center;
    justify-content: center;
    display: inline-block;
    min-height: 60px;
}

header>div {
    margin:auto;
    align-items: center;
}

header>div>img {
    top: 10px
}
#apps {
    top: 10px
}
#profile {
    top: 10px
}

header>div>a {
    margin-top: 40px;
    align-items: center;
    text-decoration: none;
    color: #70757a;
}

header>div>a:hover {
    text-decoration: underline;
    color: #70757a;
}



footer {
    bottom: 0;
    text-align: center;
    justify-content: space-around;
    background: #f2f2f2;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    padding-left: 10px;
}

footer>div>a {
    text-decoration: none;
    color: #70757a;
}

footer>div>a:hover {
    text-decoration: underline;
    color: #70757a;
}

#uk {
    text-align: left;
    color: #70757a;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-left: 0;

    /* left: 10; */
    bottom: 0;

    background: #f2f2f2;
    
    /* padding-left: 10px; */
    padding-top: 10px;
    position: fixed;
    
    margin-bottom: 29px;
}

#carbonNeutral {
    justify-content: center;
    display: flex;
}

section {
    margin-bottom: 10px;
}

section>ul,
li {
    list-style: none;
}

/* section li {
    margin-bottom: 15px;
} */

form {
    margin-left: 15px;
}

#logoRow {
    /* padding-top: 175px; */
    /* margin-bottom: 20px; */
    min-height: 290px;
    text-align: center;
}

.logo {
    height: 92px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    margin-top: 198px;
}

#buttonRow {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

#searchBar{
    padding-top: 20px;
}

/* #searchRow {
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#searchBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#keywords {
    min-width: 584px;


    height: 44px;
    width: 100%;
    padding: 13px;
    padding-left: 35px;
    /* padding-right: 60px; */
    justify-content: center;
    align-content: center;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;


    background-image: url('./images/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#keywords:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#feelingLucky {
    /* margin-left: 82%; */
    border: 1px solid #f8f9fa;
    margin-top: 11px;
    background-color: #f8f9fa;
    padding: 8px;
    margin: 0px 0px 0px 5px
}

#feelingLucky:hover {
    border: 1px solid #dadce0;
}

#searchButton {
    /* margin-right: 82%; */
    border: 1px solid #f8f9fa;
    margin-top: 11px;
    background-color: #f8f9fa;
    padding: 8px;
    margin: 0px 5px 0px 0px
}

#searchButton:hover {
    border: 1px solid #dadce0;
}

.icons {
    width: auto;
    height: auto;
}

.icons:hover {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(235, 236, 236);
    /* width: 40px;
    height: 40px; */
}